# Python virtual environment
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build folders
build/
dist/

# Python packaging
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Temporary files
*.tmp
*.temp